@model (string workflow, string theme)
@inject UserManager<IdentityUser> UserManager

@{
    string GetClass(string? feature) => feature != null && feature.Equals(Model.workflow) ? "active" : "";

    IdentityUser identityUser
        = await UserManager.GetUserAsync(User) ?? new IdentityUser();
}

<a class="btn btn-@Model.theme btn-block @GetClass("Overview")" asp-page="Index">
    Overview
</a>

@if (await UserManager.HasPasswordAsync(identityUser))
{
    <a class="btn btn-@Model.theme btn-block @GetClass("PasswordChange")" asp-page="UserPasswordChange">
        Change Password
    </a>  

    <a class="btn btn-@Model.theme btn-block @GetClass("UserTwoFactor")"
       asp-page="UserTwoFactorManage">
        Authenticator
    </a>
}



<a class="btn btn-@Model.theme btn-block @GetClass("UserDelete")"
   asp-page="UserDelete">
    Delete Account
</a>


